#recipe-details{
    min-width: 60%;
    min-height: 60%;
    // margin-left: 5vh;
    // margin-right: 5vh;
    // margin-top: 5vh;
    // margin-bottom: 5vh;
    position: fixed;

}
#imgRouting{
    min-height: 50%;
}
#icon-categort{
    max-width: 10%;
    max-height: 10%;

}