<form [formGroup]="this.LoginForm">
    <div>
        <label>name</label>
        <input type="text" formControlName="name">
        <ng-container *ngIf="this.LoginForm.controls['name'].errors as nameError">
            <p *ngIf="nameError['required']">this field is must!</p>
            <p *ngIf="nameError['minlength']">this field is must at least 3 digits</p>
        </ng-container>
    </div>
    <br>
    <div>
        <label>password</label>
        <input type="password" formControlName="password">
        <ng-container *ngIf="this.LoginForm.controls['password'].errors as passwordError">
            <p *ngIf="passwordError['required']">this field is must!</p>
            <p *ngIf="passwordError['minlength']">this field is must at least 6 digits</p>
        </ng-container>
    </div>
    
  
    <button (click)="login()" [disabled]="!this.LoginForm.valid">login</button>
</form>
