<!-- {{recipeChild?.name}} -->

<!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{recipeChild?.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ recipeChild?.imgRouting }}" alt="Photo of {{ recipeChild?.name }}">

    <mat-card-content>

      <h3>Duration of preparation: {{recipeChild?.minutes}}</h3>
      <h3>Difficulty Level: {{recipeChild?.difficultyLevel}}</h3>

    </mat-card-content>

  </mat-card>
  -->
  <div class="card" style="width: 18rem;" (click)="recipeDetails()">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
    <div class="card-body">
      <h2 class="card-title">{{recipeChild?.name}}</h2>
      <p class="card-text">Duration of preparation: {{recipeChild?.minutes}}</p>
      <p class="card-text">Difficulty Level: {{recipeChild?.difficultyLevel}}</p>
    </div>
  </div>
  <!-- <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp"
          alt="Trendy Pants and Shoes"
          class="img-fluid rounded-start"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div> -->