<form [formGroup]="this.RegisterForm">
    <div>
        <label>name</label>
        <input type="text" formControlName="name">
        <ng-container *ngIf="this.RegisterForm.controls['name'].errors as nameError">
            <p *ngIf="nameError['required']">this field is must!</p>
            <p *ngIf="nameError['minlength']">this field is must at least 9 digits</p>
        </ng-container>
    </div>
    <br>
    <div>
        <label>password</label>
        <input type="password" formControlName="password">
        <ng-container *ngIf="this.RegisterForm.controls['password'].errors as passwordError">
            <p *ngIf="passwordError['required']">this field is must!</p>
            <p *ngIf="passwordError['minlength']">this field is must at least 3 digits</p>
        </ng-container>
    </div>
    <br>
    <div>
        <label>email</label>
        <input type="email" formControlName="email">
        <ng-container *ngIf="this.RegisterForm.controls['email'].errors as emailError">
            <p *ngIf="emailError['email']">this field is must be email</p>
        </ng-container>
    </div>
    <br>
    <div>
        <label>address</label>
        <input type="text" formControlName="address">
    </div>
    
  
    <button (click)="save()" [disabled]="!this.RegisterForm.valid">save</button>
</form>
