// #homeButton{
//     position: absolute;
//     left: 20vh;
// }
h1{
    text-align: center;
    padding: 25vh;
}
.itemInNav{
    // margin-top: 3vh;

}
ul{
    margin-top: 1.5vh;
    margin-bottom:10vh;
    margin-left: 10vh;
    margin-right: 5vh;
}
nav{
    max-height: 10vh
}
button{
    height: 5vh;
}