<!-- 
<div *ngFor="let recipe of allRecipe" id="flex" style="display: grid; grid-gap: 20px; justify-content: space-evenly;">
    <app-small-recipe [recipeChild]="recipe" ></app-small-recipe>
</div> -->



<!-- <div class="all-recipe-container">
    <div class="filter-container">
        <label for="name-filter">Filter by name</label>
        <input type="text" id="name-filter" [(ngModel)]="filterName">

        <label for="category-filter"> Filter by category<label>
                <select id="category-filter" [(ngModel)]="filterCategory">
                    <option value="">all categories</option>
                    <option *ngFor="let category of categories" [value]="category.name">
                        {{category.name}}
                    </option>
                </select>

                <label for="duration-filter">Filter by preparation duration</label>
                <input type="number" id="duration-filter" [(ngModel)]="filterDuration">
    </div>

    <div *ngFor="let recipe of filteredRecipes" id="flex"
        style="display: grid; grid-gap: 20px; justify-content: space-evenly;">
        <app-small-recipe [recipeChild]="recipe"></app-small-recipe>
    </div>
</div> -->


<!-- <div class="all-recipe-container">
    <div class="filter-container">
        <label for="name-filter">Filter by name</label>
        <input type="text" id="name-filter" [(ngModel)]="filterName">

        <label for="category-filter">Filter by category</label>
        <select id="category-filter" [(ngModel)]="filterCategory">
            <option value="">all categories</option>
            <option *ngFor="let category of categories" [value]="category.name">
                {{ category.name }}
            </option>
        </select>
        <label for="duration-filter">Filter by preparation duration</label>
        <input type="number" id="duration-filter" [(ngModel)]="filterDuration">
    </div>

    <div *ngFor="let recipe of filteredRecipes" id="flex"
        style="display: grid; grid-gap: 20px; justify-content: space-evenly;">
        <app-small-recipe [recipeChild]="recipe"></app-small-recipe>
    </div>
</div> -->


<div class="all-recipe-container">
    <div class="filter-container">
      <label for="name-filter">Filter by name</label>
      <input type="text" id="name-filter" [(ngModel)]="filterName" (keyup)="filterRecipes()">
  
      <label for="category-filter">Filter by category</label>
      <select id="category-filter" [(ngModel)]="filterCategory" (change)="filterRecipes()">
        <option value="">all categories</option>
        <option *ngFor="let category of categories" [value]="category.name">
          {{ category.name }}
        </option>
      </select>
  
      <label for="duration-filter">Filter by preparation duration</label>
      <input type="number" id="duration-filter" [(ngModel)]="filterDuration" (change)="filterRecipes()">
    </div>
  
    <div *ngFor="let recipe of filteredRecipes" id="flex"
         style="display: grid; grid-gap: 20px; justify-content: space-evenly;">
      <app-small-recipe [recipeChild]="recipe"></app-small-recipe>
    </div>
  </div>
  